<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>test</name>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Jimmy Da Silva</name>
    <email>jimmy.dasilva@isir.upmc.fr</email>
  </author>

  <description>
    A model of the asus xtion pro live sensor
  </description>
</model>
